<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AB21vCardEncoding</key>
	<string>x-mac-simp-chinese</string>
	<key>ABDefaultAddressCountryCode</key>
	<string>cn</string>
	<key>ABNameDisplay</key>
	<integer>0</integer>
	<key>ABNameSorting</key>
	<integer>1</integer>
	<key>ABNameSortingFormat</key>
	<string>sortingLastName sortingFirstName</string>
	<key>ABAlternateBirthdayVisible</key>
	<integer>1</integer>
	<key>ABNewContactNameDisplay</key>
	<integer>2</integer>
	<key>ABNameViewPhotoInsetLeading</key>
	<integer>60</integer>
	<key>ABTemplateNameViewPhotoInsetLeading</key>
	<integer>75</integer>
	<key>ABShortNameStyle</key>
    <integer>3</integer>
</dict>
</plist>
